<template>
  <ion-page>
    <ion-header class="ion-no-border ion-header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon :icon="arrowBack"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title size="small">Sign In</ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon :icon="ellipsisVertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="subheader">
        <h1>Hi, Miguel</h1>
        <ion-text>Sign in to continue</ion-text>
      </div>
    </ion-header>
    <ion-content>
      <form>
        <div class="contentform">
          <ion-label>Email Address</ion-label>
          <ion-input type="email" placeholder="Email Address"></ion-input>
          <ion-label>Password</ion-label>
          <ion-input type="password" placeholder="Password"></ion-input>
          <ion-button type="submit" size="default" strong expand="block"
            >sign in</ion-button
          >
          <ion-text>Don't have an account? </ion-text>
        </div>
      </form>
    </ion-content>
  </ion-page>
</template>
<style lang="scss" scoped>
ion-content {
  --background: var(--ion-color-light-tint);
  .contentform {
    padding: 10px 30px 0px 30px;
    ion-button {
      --color: var(--ion-color-secondary);
      margin-top: 20px;
    }
    ion-label {
      color: var(--ion-color-secondary);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
    }
    ion-input {
      --background: var(--ion-color-light);
      --color: var(--ion-color-primary-shade);
      border-style: solid;
      border: 1px solid var(--ion-color-light-shade);
      border-radius: 5px;
      margin-top: 5px;
    }
  }
}
.subheader {
  background: var(--ion-color-primary);
  color: var(--ion-color-light);
  display: flex;
  flex-direction: column;
  padding: 20px 0px 80px 0px;
  border-radius: 0px 0px 50% 50%;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
  ion-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
}
ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  text-align: center;
  text-transform: uppercase;
}
.ion-header {
  background: var(--ion-color-light-tint);
}
</style>
<script lang="ts">
import {
  IonText,
  IonLabel,
  IonPage,
  IonContent,
  IonInput,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonButton,
  IonTitle,
  IonIcon,
} from "@ionic/vue";
import { arrowBack, ellipsisVertical } from "ionicons/icons";
import { defineComponent } from "vue";

export default defineComponent({
  name: "Signin",
  components: {
    IonText,
    IonLabel,
    IonPage,
    IonContent,
    IonInput,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonButton,
    IonTitle,
    IonIcon,
  },
  setup() {
    //
    return {
      arrowBack,
      ellipsisVertical,
    };
  },
});
</script>
